{% extends "base.html" %}
{% block title %}The x86 Interrupt List - About{% endblock %}
{% block content %}
	<h1 class="title">
		About
	</h1>
	<div class="block">
		This is a modernized and (hopefully) correct HTML snapshot of the
			<a href="https://www.cs.cmu.edu/~ralf/files.html">original interrupt list</a>, last maintained by Ralf
			Brown.<br/>
		The version used for the data is the "newest" release of RBIL, <em>Release 61</em> (from 16 Jul 2000).
	</div>
	<div class="content">
		<blockquote cite="https://en.wikipedia.org/wiki/Ralf_Brown%27s_Interrupt_List">
			<p style="margin-bottom: 0.5em;">
				<strong>Ralf Brown's Interrupt List</strong> (aka <strong>RBIL</strong>,
				<strong>x86 Interrupt List</strong>, <strong>MS-DOS Interrupt List</strong> or
				<strong>INTER</strong>) is a comprehensive list of interrupts, calls, hooks,
				interfaces, data structures, CMOS settings, memory and port addresses, as well as
				processor opcodes and special function registers for x86 machines (including many
				clones) from the very start of the PC era in 1981 up to 2000, most of it still
				applying to PCs today.
			</p>
			<div style="padding-left: 1.5em">— <cite><a class="external-link"
				href="https://en.wikipedia.org/wiki/Ralf_Brown%27s_Interrupt_List">Wikipedia</a></cite>
			</div>
		</blockquote>
	</div>

	<h2 class="title is-4">
		Alternative HTML pages
	</h2>
	<div class="block">
		<div class="content">
			<ul>
				<li><a href="https://int.hatsune.dev/">Jack Hance's version (searching/API access)
				<li><a href="http://www.delorie.com/djgpp/doc/rbinter/">Delorie/DJGPP</a></li>
				<li><a href="http://ctyme.com/rbrown.htm">Computer Tyme (outdated, may also contain
						dubious images - not recommended)</a></li>
			</ul>
		</div>
	</div>

	<h2 class="title is-4">
		Source
	</h2>
	<div class="block">
		The source of the parser and html generator is hosted on
		<a href="https://gitlab.com/fnetworks/interrupt-list">GitLab</a>.
	</div>
{% endblock %}
