<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="x-ua-compatible" content="ie=edge">

		<title>{% block title %}{% endblock %}</title>

		{% if base_url.is_some() %}
			<base href="{{ base_url.unwrap() }}">
		{% endif %}

		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css"
			  integrity="sha256-WLKGWSIJYerRN8tbNGtXWVYnUM5wMJTXD8eG4NtGcDM=" crossorigin="anonymous">
		<link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
		<link rel="manifest" href="site.webmanifest">
	</head>
	<body>
		<nav class="navbar is-dark" aria-label="main navigation">
			<div class="navbar-brand">
				<a class="navbar-item" href="index.html">Interrupt List</a>
				<a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
				   data-target="navMenu">
					<span aria-hidden="true"></span>
					<span aria-hidden="true"></span>
					<span aria-hidden="true"></span>
				</a>
			</div>
			<div id="navMenu" class="navbar-menu">
				<div class="navbar-start">
					<a href="index.html" class="navbar-item">Home</a>
					<a href="about.html" class="navbar-item">About</a>
					<div class="navbar-item has-dropdown is-hoverable">
						<a class="navbar-link">
							Interrupts
						</a>
						<div class="navbar-dropdown">
							<a href="interrupts/by_category.html" class="navbar-item">
								By Category
							</a>
							<a href="interrupts/by_number.html" class="navbar-item">
								By Number
							</a>
						</div>
					</div>
				</div>
			</div>
		</nav>
		<section class="section">
			<div class="container">
				{% block content %}{% endblock %}
			</div>
		</section>

		<script src="nav.js"></script>
	</body>
</html>
