{% extends "base.html" %}
{% block title %}The x86 Interrupt List{% endblock %}
{% block content %}
	<h1 class="title">
		Interrupts by Category
	</h1>
	<div class="content">
		<ul>
			{% for (key, value) in categories %}
				<li>
					<a href="interrupts/categories/{{ key }}.html">{{ value.text }}</a>
				</li>
			{% endfor %}
		</ul>
	</div>
{% endblock %}
