{% extends "base.html" %}
{% block title %}The x86 Interrupt List{% endblock %}
{% block content %}
	<h1 class="title">
		Interrupts by Number
	</h1>
	<table class="table is-bordered">
		<tbody>
			{% for x in 0..16 %}
				<tr>
					{% for y in 0..16 %}
						<td>
							<a href="interrupts/{{ "{:02X}"|format(x * 16 + y) }}">
								{{ "{:02X}"|format(x * 16 + y) }}
							</a>
						</td>
					{% endfor %}
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
