{% extends "base.html" %}
{% block title %}Interrupts - Category {{ category.short_text.as_ref().unwrap_or(category.text) }}{% endblock %}
{% block content %}
	<h1 class="title">
		Interrupts in Category "{{ category.short_text.as_ref().unwrap_or(category.text) }}"
	</h1>
	{% if category.short_text.is_some() %}
		<p class="subtitle">
			{{ category.text }}
		</p>
	{% endif %}
	<div class="content">
		<ul>
			{% for int in interrupts %}
				<li>
					<a href="interrupts/{{ "{:02X}"|format(int.interrupt) }}/{{ "{:04}"|format(int.id) }}.html">
						INT {{ "{:02X}"|format(int.interrupt) }} / {{ int.breadcrumb | join(" / ") }}
					</a>
				</li>
			{% endfor %}
		</ul>
	</div>
{% endblock %}
