{% extends "base.html" %}
{% block title %}The x86 Interrupt List{% endblock %}
{% block content %}
	<h1 class="title is-2">
		The x86 Interrupt List
	</h1>
	<article class="message is-danger">
		<div class="message-body">
			This webpage is still under construction. This means that information on the page should
			be complete, but the file structure and layout are still subject to change.
		</div>
	</article>
{% endblock %}
