{% extends "base.html" %}
{% block title %}{% endblock %}
{% block content %}
	<h1 class="title">
		Interrupts with number {{ "{:02X}"|format(interrupt) }}
	</h1>
	<div class="content">
		<ul>
			{% for int in interrupts %}
			<a href="interrupts/{{ "{:02X}"|format(interrupt) }}/{{ "{:04}"|format(int.id) }}.html">
					<li>{{ int.breadcrumb | join(" / ") }}</li>
				</a>
			{% endfor %}
		</ul>
	</div>
{% endblock %}
