{% extends "base.html" %}
{% block title %}Interrupts - INT {{ "{:02X}"|format(interrupt.interrupt) }}{% endblock %}
{% block content %}
	<h1 class="title is-3">
		INT {{ "{:02X}"|format(interrupt.interrupt) }}
	</h1>
	<p class="subtitle">
		{{ interrupt.breadcrumb | join(" / ") }}
	</p>
	<div class="tags">
		<span class="tag is-info is-light">
			<a href="interrupts/categories/{{ interrupt.category_key }}.html" style="color: inherit">
				{{ interrupt.category.short_text.as_ref().unwrap_or(interrupt.category.text) }}
			</a>
		</span>
		{% if !interrupt.tags.is_empty() %}
			{% for tag in interrupt.tags %}
				<span class="tag is-{{ tag.ttype }}">
					<a href="#" style="color: inherit" title="{{ tag.tooltip }}">{{ tag.text }}</a>
				</span>
			{% endfor %}
		{% endif %}
	</div>
	<div class="block">
		{% for ct in interrupt.constraints %}
			{{ ct }} <br/>
		{% endfor %}
	</div>
	{% if interrupt.description.is_some() %}
		<div class="block">
			{{ interrupt.description.as_ref().unwrap() }}
		</div>
	{% endif %}
	{% if interrupt.notes.is_some() %}
		<h2 class="title is-4" id="notes">Notes</h2>
		<div class="block">
			{% for paragraph in interrupt.notes.as_ref().unwrap() %}
				<p class="mb-4">{{ paragraph }}</p>
			{% endfor %}
		</div>
	{% endif %}
	{% if interrupt.returns.is_some() %}
		<h2 class="title is-4" id="returns">Returns</h2>
		<div class="block">
			{{ interrupt.returns.as_ref().unwrap() }}
		</div>
	{% endif %}
	{% if interrupt.bugs.is_some() %}
		<h2 class="title is-4" id="bugs">Bugs</h2>
		<div class="block">
			{% for paragraph in interrupt.bugs.as_ref().unwrap() %}
				<p class="mb-4">{{ paragraph }}</p>
			{% endfor %}
		</div>
	{% endif %}
	{% if interrupt.program.is_some() %}
		<h2 class="title is-4" id="program">Program</h2>
		<div class="block">
			{{ interrupt.program.as_ref().unwrap() }}
		</div>
	{% endif %}
	{% if interrupt.install_check.is_some() %}
		<h2 class="title is-4" id="install-check">Install check</h2>
		<div class="block">
			{{ interrupt.install_check.as_ref().unwrap() }}
		</div>
	{% endif %}
	{% if interrupt.index.is_some() %}
		<h2 class="title is-4" id="index">Index</h2>
		<div class="block">
			{{ interrupt.index.as_ref().unwrap() }}
		</div>
	{% endif %}
	{% if interrupt.example.is_some() %}
		<h2 class="title is-4" id="example">Example</h2>
		<div class="block">
			{{ interrupt.example.as_ref().unwrap() }}
		</div>
	{% endif %}
	{% if interrupt.range.is_some() %}
		<h2 class="title is-4" id="range">Range</h2>
		<div class="block">
			{{ interrupt.range.as_ref().unwrap() }}
		</div>
	{% endif %}
	{% if interrupt.warning.is_some() %}
		<h2 class="title is-4" id="warning">Warning</h2>
		<div class="block">
			{{ interrupt.warning.as_ref().unwrap() }}
		</div>
	{% endif %}
	{% if interrupt.see_also.is_some() %}
		<h2 class="title is-4" id="see-also">See also</h2>
		<div class="block">
			<div class="content">
				<ul>
					{% for item in interrupt.see_also.as_ref().unwrap() %}
						<li>{{ item }}</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	{% endif %}

	{% if !interrupt.tables.is_empty() %}
		<br />

		{% for table in interrupt.tables %}
			<h3 class="title is-5">{{ table.title }} ({{ "#{:05}"|format(table.id) }})</h3>
			<table class="table">
				{% if table.header.is_some() %}
					<thead>
						<tr>
							{% for head in table.header.as_ref().unwrap() %}
								<th>{{ head }}</th>
							{% endfor %}
						</tr>
					</thead>
				{% endif %}
				<tbody>
					{% for row in table.rows %}
						<tr>
							{% for col in row %}
								<td>{{ col }}</td>
							{% endfor %}
						</tr>
					{% endfor %}
				</tbody>
			</table>

			{% if table.notes.is_some() %}
				<h4 class="title is-6">Notes</h4>
				<div class="block">
					{{ table.notes.as_ref().unwrap() }}
				</div>
			{% endif %}

			{% if table.description.is_some() %}
				<h4 class="title is-6">Description</h4>
				<div class="block">
					{{ table.description.as_ref().unwrap() }}
				</div>
			{% endif %}

			{% if table.returns.is_some() %}
				<h4 class="title is-6">Returns</h4>
				<div class="block">
					{{ table.returns.as_ref().unwrap() }}
				</div>
			{% endif %}

			{% if table.index.is_some() %}
				<h4 class="title is-6">Index</h4>
				<div class="block">
					{{ table.index.as_ref().unwrap() }}
				</div>
			{% endif %}

			{% if table.bugs.is_some() %}
				<h4 class="title is-6">Bugs</h4>
				<div class="block">
					{{ table.bugs.as_ref().unwrap() }}
				</div>
			{% endif %}

			{% if table.program.is_some() %}
				<h4 class="title is-6">Program</h4>
				<div class="block">
					{{ table.program.as_ref().unwrap() }}
				</div>
			{% endif %}

			{% if table.legend.is_some() %}
				<h4 class="title is-6">Legend</h4>
				<div class="block">
					{{ table.legend.as_ref().unwrap() }}
				</div>
			{% endif %}

			{% if table.see_also.is_some() %}
				<h4 class="title is-6">See also</h4>
				<div class="block">
					<div class="content">
						<ul>
							{% for item in table.see_also.as_ref().unwrap() %}
								<li>{{ item }}</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			{% endif %}

			{% if !loop.last %}
				<br/>
			{% endif %}
		{% endfor %}
	{% endif %}
{% endblock %}
